@import './reset.css';
@import './components/abstract/variables';


.font-size{
    font-size: 1rem;
}

.nav-button{
    width: 100%;
    padding: 0.75rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $border-color;
}

.nav-button-active{
    border-bottom: 3px solid $border-active;
    color: $border-active
}
